<!-- <toaster-container"></toaster-container> -->
<div class="container-fluid">
    <h1 class="ng-title">Mantenimiento del personal</h1>

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
            <table class="table  table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Acción</th>


                    </tr>
                </thead>
                <div class="no-datos" *ngIf="personales.length <= 0"> No tiene datos</div>

                <tbody *ngFor="let per of personales;let i= index">
                    <tr>
                        <th scope="row" *ngIf="per.id >= fvIndex && per.id <= lvIndex">{{per.vcCodigo}}</th>
                        <td *ngIf="per.id >= fvIndex && per.id <= lvIndex">{{per.vcNombre}}</td>
                        <td *ngIf="per.id >= fvIndex && per.id <= lvIndex">{{per.vcApellido}}</td>
                        <td *ngIf="per.id >= fvIndex && per.id <= lvIndex">{{per.iEdad}}</td>
                        <td *ngIf="per.id >= fvIndex && per.id <= lvIndex">
                            <button class="btn btn-primary" style="margin: .5em;" (click)="onEditar(per)"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger" style="margin: .5em;" (click)="onEliminar(per,alerta)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--Pagination -->
            <nav aria-label="Page navigation example" *ngIf="personales.length != 0">
                <ul class="pagination">
                    <select class="" [(ngModel)]="itemsPpg" name="itemsPpg" (change)="onbuscarPg()" [disabled]="personales.length==0" required>
                          <option >5</option>
                          <option>10</option>
                          <option>15</option>
                          <option>20</option>
               </select>
                    <li class="page-item" (click)="firstPage()" [ngClass]="{disabled: activePage == 1}">
                        <a class="page-link">
                            <i class="fa fa-step-backward" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="page-item" (click)="previousPage()" [ngClass]="{disabled: activePage == 1}">
                        <a class="page-link" aria-label="Previous">
                            <i class="fa fa-caret-left"></i>
                        </a>
                    </li>
                    <li class="page-item" #pages *ngFor="let page of paginators | slice:fvPaginator:lvPaginator; let i = index" [ngClass]="{active: i + fvPaginator + 1 == activePage}">
                        <a class="page-link waves-light" (click)="changePage($event)" mdbWavesEffect>{{page}}</a>
                    </li>

                    <li class="page-item" (click)="nextPage()" [ngClass]="{disabled: activePage == nufPaginators}">
                        <a class="page-link" aria-label="Next">
                            <i class="fa fa-caret-right"></i>
                        </a>
                    </li>
                    <li class="page-item" (click)="lastPage()" [ngClass]="{disabled: activePage == nufPaginators}">
                        <a class="page-link">
                            <i class="fa fa-step-forward" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-12 col-md-6  col-lg-6 col-xl-6">
            <h3 style="text-align: center;">{{title}}</h3>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 "><br>
                    <label>Código</label>
                    <input type="number" class="form-control" [(ngModel)]="personal.vcCodigo" [disabled]="editar==true" placeholder="Codigo*">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 "><br>
                    <label>Nombre</label>
                    <input type="text" class="form-control" [(ngModel)]="personal.vcNombre" placeholder="Nombre*">

                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 "><br>
                    <label>Apellido</label>
                    <input type="text" class="form-control" [(ngModel)]="personal.vcApellido" placeholder="Apellido*">

                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 "><br>
                    <label>Edad</label>
                    <input type="number" class="form-control" [(ngModel)]="personal.iEdad" placeholder="Edad*">

                </div>

            </div>
            <div class="content">
                <div class="row">

                    <div class="col-md-12"><br>
                        <button class="btn btn-primary" style="float: left;" (click)="onGuardar('G')" *ngIf="editar==false"><i class="fa fa-save"></i>Guardar</button>
                        <button class="btn btn-primary" style="float: left;" (click)="onGuardar('A')" *ngIf="editar==true"><i class="fa fa-save"></i>Actualizar</button>

                        <button (click)="onCancelar()" class="btn  btn-danger" style="float: right;"><i class="fa fa-ban"></i> Cancelar</button>
                    </div><br><br>
                </div>
            </div>
            <button (click)="onServicio()" class="btn  btn-danger" style="float: right;"><i class="fa fa-ban"></i> obtener servicio http</button>
            <button (click)="onServicio1()" class="btn  btn-danger" style="float: right;"><i class="fa fa-ban"></i> obtener servicio httpClient</button>

        </div>
    </div>
</div>

<ng-template #alerta>
    <div class="modal-body" style="text-align: center;">
        <p>¿Estas seguro de eliminar?</p>
    </div>
    <div class="modal-footer">
        <div class="left-side" style="float:left;">
            <button type="button" class="btn" (click)="onConfirmarSi()"> <i class="fa fa-check" ></i> SI </button>
        </div>
        <div class="right-side" style="float:right;">
            <button type="button" class="btn btn-azul" aria-label="Close" (click)="onConfirmarNo()"><i class="fa fa-ban" ></i> NO </button>
        </div>
    </div>
</ng-template>